.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 25px;
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  box-sizing: border-box;

  background: rgba(87, 87, 87, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 

  color: white;
  font-family: 'Italiana', serif;
  z-index: 1000; 
}

.navbar ul {
  display: flex;
  gap: 20px; 
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  cursor: pointer;
  transition: opacity 0.2s;
}

.navbar li:hover {
  opacity: 0.7;
}

/* estilo_logo */
.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: bold;
}