.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box; /* resolve o problema */

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);

  color: white;
}

.navbar ul{
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li{
  cursor: pointer;
}
.navbar h1{
  font-size: 18px;
  margin: 0;
}