@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);

  color: white;

  font-family: 'Italiana', serif;
}

.navbar ul{
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li{
  cursor: pointer;
}

/* estilo da logo */
.logo{
  height: 40px;
  cursor: pointer;
}
.logo-container{
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo{
  height: 40px;
}

.logo-text{
  font-size: 16px;
  font-weight: bold;
}